*{
    
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}


header{
    background-color: rgba(17, 117, 199, 0.701);
    padding: 40px;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.titulo{
    color: white;
    font-size: 30px;
    float: left;
    font-weight: bold;
    

}

.items-Cabeçalho{
    color: white;
    font-size: 20px;
    float: right;
    list-style: none;
    padding-left: 50px;
    margin-top: 10px;
}


section{
    max-width: 1000px;
    margin: auto;
    background-image: url(./imagens/WhatsApp\ Image\ 2022-05-12\ at\ 14.56.47.jpeg);
    background-size: cover;
    height: 800px;
}

.texto{
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 50%;
    text-align: center;
}


footer{
    background-color: rgba(17, 117, 199, 0.701);
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
    height: 200px;

}



.ul-footer{
    box-sizing: border-box;
    float: left;
    margin-left: 40%;
    margin-top: 30px;
    display: inline-block;
    
    
    
}

#item-1{
    list-style-image: url(./imagens/icons8-whatsapp-48.png);
    
}

#item-2{
    list-style-image: url(./imagens/icons8-instagram-48.png);
    
}

#item-3{
    list-style-image: url(./imagens/icons8-endereço-48.png);
}

link{
    text-decoration: none;
}

.links:visited{
    color: black;
    text-decoration: none;
}

@media screen and ( max-width: 700px) {
    .titulo{
        float: none;
        text-align: center;
    }

    .items-Cabeçalho{
        float: none;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        
    }
}




